
:root {
	--bg-color: white;
	--text-color: black;
	--background-gradient: radial-gradient(circle, #FFFFFF, #bfced8);
	--dashed: rgba(0,0,0,0.12);

	@media (prefers-color-scheme: dark) {
		--bg-color: #0F0F0F;
		--text-color: white;
		--background-gradient: radial-gradient(circle, #000204, #09161b);
		--dashed: rgba(255,255,255,0.12);
		color-scheme: dark;
	}
}

html, body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	margin: 0;
	padding: 0;
	min-height: 100vh;
	background-color: var(--bg-color);
	color: var(--text-color);
}

body > :not(#header):not(#footer) {
	flex: 1 0 auto;
}

#header, #footer {
	background: var(--background-gradient);
}
#header {
	box-shadow: 0 0 10px 0 black;
	padding: 10px 0;
}
#header-items {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-content: center;
	align-items: center;
	padding: 10px 20px;

	@media (max-height: 500px) {
		flex-direction: row;
	}
}

#header img {
	height: 90px;
	border-radius: 25%;
	background-color: rgba(0, 0, 0, 0.6);
	box-shadow: 0 0 10px 0 black;

	@media (max-height: 750px) {
		display: none;
	}
}


#header h3 {
	margin: 7px 0;

	@media (max-height: 400px) {
		margin: 0 15px;
	}
}

#header-nav {
	display: flex;
	align-content: center;
	align-items: center;   
}
a {
	color: var(--text-color);
	text-decoration: none;
}
#header-nav a {
	padding: 10px 0;
	width: 108px;
	margin: 0 17px;
	font-size: 14px;
	border: 1px solid var(--text-color);
	border-radius: 50px;
}

#content {
	margin: 0 10%;
}

#footer {
	box-shadow: 0 0 10px 0 black;
	width: 100%;
	padding: 15px 0;
	font-size: 14px;
}

#footer a {
	font-size: 3em;
	margin: 0 15px;
}

/* Content */

h1, h2, h3, h4, h5, h6 {
	font-family: 'Ubuntu Condensed', sans-serif;
	font-weight: normal;
	margin: 20px 0;
}
h2 {
	font-size: 36px;
}
h3 {
	font-size: 24px;
}

#home-items {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 50px 0;
}

#home-items img {
	/* width: 430px; */
	max-width: 50%;
	max-height: 280px;
	object-fit: contain;
}

#home-items div {
	height: 280px;
	margin: 0 0 50px 0;
	width: 75%;
}

:nth-child(even of #home-items div) {
	img {
		float: right;
		margin-left: 25px;
	}
	text-align: right;
}
:nth-child(odd of #home-items div) {
	img {
		float: left;
		margin-right: 25px;
	}
	text-align: left;
}


/* Donators / Grids of profiles */

#headshot {
	display: grid;
	grid-template-rows: 3;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

#headshot div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	margin: 25px;
}

#headshot div img {
	width: 190px;
	height: 190px;
	border: 2px dashed var(--dashed);
}

#headshot div p {
	font-size: 22px;
	margin: 10px 0 0 0;
}

#headshot div ul {
	padding-left: 15px;
	text-align: left;
}
