
<div id="footer">
	<a href="https://github.com/p2sr" target="_blank" class="fa-brands fa-github"></a>
	<a href="https://discord.com/invite/hRwE4Zr" target="_blank" class="fa-brands fa-discord"></a>
	<a href="https://youtube.com/channel/UCJisCoBmkhsSNRICJCLAY3w" target="_blank" class="fa-brands fa-youtube"></a>
	<a href="https://twitch.tv/portal2speedruns" target="_blank" class="fa-brands fa-twitch"></a>
	<iframe src="https://github.com/sponsors/p2sr/button" title="Sponsor P2SR" height="32" width="114" style="border: 0; border-radius: 6px"></iframe>
	<p>
		This website is <a href="https://github.com/p2sr/p2sr-hub" target="_blank">open source</a>.
		It uses <a href="https://fonts.google.com/" target="_blank">Google Fonts</a> and <a href="https://fontawesome.com/" target="_blank">FontAwesome</a>.
	</p>
</div>
