<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="dns-prefetch" href="//avatars.githubusercontent.com">
	<link rel="dns-prefetch" href="//fonts.googleapis.com">
	<link rel="dns-prefetch" href="//fonts.gstatic.com">
	<link rel="dns-prefetch" href="//cdnjs.cloudflare.com">
	<link rel="stylesheet" href="/styles.css">
	<link rel="shortcut icon" type="image/webp" href="/resource/logo.webp">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" type="text/css">

	<meta name="robots" content="index, follow">
	<meta name="color-scheme" content="dark light">
	<title>{{SUBST TITLE}}</title>
	<meta name="title" content="{{SUBST TITLE}}">
	<meta property="og:title" content="{{SUBST TITLE}}">
	<meta name="twitter:title" content="{{SUBST TITLE}}">
	<meta name="description" content="{{SUBST DESCRIPTION}}">
	<meta property="og:description" content="{{SUBST DESCRIPTION}}">
	<meta name="twitter:description" content="{{SUBST DESCRIPTION}}">
	<meta property="og:image" content="https://portal2.sr/resource/logo.webp">
	<meta name="twitter:image" content="https://portal2.sr/resource/logo.webp">
	<meta property="og:image:alt" content="P2SR Logo">
	<meta name="twitter:image:alt" content="P2SR Logo">
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://portal2.sr/">
	<meta name="twitter:card" content="summary">
</head>
